/* Prevents gameboard from shifting under scoreboard when screen narrowed */
* {
    box-sizing: border-box;
}

body {
    background:  #194673;
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-size: 80%;
    font-weight: bold;
    overflow: hidden;
}

.full_width {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

#scoreboard {
    background-color: #8EAFAA;
    border: 4px solid #88CDEA;
    border-radius: 30px;
    float: left;
    padding-top: 30px;
    margin: 50px 10px 10px 30px;
    max-height: 95vh;
    min-height: 500px;
    text-align: center;
    width: 12%; /*200px;*/
}

.scoreboard_item, button {
    background-color: #8EAFD7;
    border: 2px solid black;
    border-radius: 10px;
    letter-spacing: 2px;
    line-height: 1.8em;
    height: 100px;
    margin: 10px;
    min-width: 70px;
}

button {
    font-family: Helvetica, Courier, Verdana, Geneva, sans-serif;
    font-size: 80%;
    font-weight: bold;
    height: 80px;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 150%;
}

#background, #emoticons, #grid {
    border: 5px solid #88CDEA;
    border-radius: 10px;
    position: absolute;
    min-width: 920px;
    max-width: 1090px;
    margin: 50px 50px 50px 30px;
    min-height: 500px;
    max-height: 95vh;
}

.layer1 {
    background-color: #6991C2;
    z-index: 1;
}

.layer2 {
    z-index: 2;
}

.layer3 {
    z-index: 3;
}

@media screen and (max-width: 1150px) {

    #scoreboard {
        display: none;
        position: absolute;
        z-index: -99;
    }

    #background, #emoticons, #grid {
        max-width: 100%;
    }
}